
.icon-thumb:before { content: '\e804'; } /* '' */
.icon-spin:before { content: '\e839'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
